#p::after {
	content: "применил псевдоэлемент after";
}

#p::before {
	content: "применил псевдоэлемент before";
	color: red;
}

.links:link {
	color: green;
}

.links:visited {
	color: orange;
}

.links:active {
	color: purple;
}

.hover-div:hover {
	background-color: yellow;
	width: 500px;
}

.hover-div > span:hover {
	color: blue;
	background-color: aqua;
	cursor: crosshair;
}

.empty:empty {
	height: 20px;
	background-color: lightgreen;
}

.child:first-child {
	background-color: chocolate;
}

.child:last-child {
	background-color: rgb(66, 210, 30);
}

.child:nth-child(even) {
	color: darkred;
}

.child:nth-child(odd) {
	color: rgb(229, 245, 122);
}

.child:nth-child(3n + 2) {
	background-color: violet;
}

@media screen and (max-width: 768px) {
	a {
		display: none;
	}

	.media {
		width: 50%;
		background-color: powderblue;
		color: blue;
		padding: 20px;
		text-align: center;
	}
}
